body {
  /* background-image: url('./images/backGround.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto; 
  margin: 0; 
  backdrop-filter: blur(7px);
}

.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 30vh; 
  height: 30vh;
  color: #0049d1;
  transition: color 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  color: #0077b5; 
}

.icon:nth-child(1):hover {
  color: #333; 
}

@media (max-width: 767px) {
  .icon {
    margin-top: 20px;
    width: 15vh;
    height: 15vh;
  }
}












